USE [app_contratos]
GO
/****** Object:  StoredProcedure [dbo].[sp_plantilla_email]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_plantilla_email]
GO
/****** Object:  StoredProcedure [dbo].[sp_GuardarDatos]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_GuardarDatos]
GO
/****** Object:  StoredProcedure [dbo].[sp_guardar_contrato]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_guardar_contrato]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_portgroup_custodio]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_portgroup_custodio]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_usuarios]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_obtener_usuarios]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_tipo_golden_parent]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_obtener_tipo_golden_parent]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_tipo_bo]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_obtener_tipo_bo]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_sesion]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_obtener_sesion]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_portafolio_activo_samoa]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_obtener_portafolio_activo_samoa]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_port_group]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_obtener_port_group]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_modificar_configuraciones_sistema]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_obtener_modificar_configuraciones_sistema]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_custodio]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_obtener_custodio]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_configuraciones_sistema]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_obtener_configuraciones_sistema]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_eliminar_usuario]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_eliminar_usuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_eliminar_tipo_golden_parent]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_eliminar_tipo_golden_parent]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_eliminar_tipo_bo]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_eliminar_tipo_bo]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_eliminar_portafolio_activo_samoa]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_eliminar_portafolio_activo_samoa]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_eliminar_port_group]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_eliminar_port_group]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_eliminar_custodio]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_eliminar_custodio]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_custodio_detalle]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_custodio_detalle]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_usuario]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_crear_usuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_tipo_golden_parent]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_crear_tipo_golden_parent]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_tipo_bo]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_crear_tipo_bo]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_portafolio_activo_samoa]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_crear_portafolio_activo_samoa]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_port_group]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_crear_port_group]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_obtener_modificar_tipoCliente]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_crear_obtener_modificar_tipoCliente]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_obtener_modificar_fuentes]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_crear_obtener_modificar_fuentes]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_obtener_modificar_contratos]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_crear_obtener_modificar_contratos]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_custodio]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_crear_custodio]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_combo]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_combo]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_bo_detalle]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_bo_detalle]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_actualizar_usuario]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_actualizar_usuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_actualizar_tipo_golden_parent]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_actualizar_tipo_golden_parent]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_actualizar_tipo_bo]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_actualizar_tipo_bo]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_actualizar_portafolio_activo_samoa]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_actualizar_portafolio_activo_samoa]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_actualizar_port_group]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_actualizar_port_group]
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_actualizar_custodio]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_ctr_actualizar_custodio]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_contrato]    Script Date: 06/06/2024 10:07:34 a. m. ******/
DROP PROCEDURE [dbo].[sp_buscar_contrato]
GO
ALTER TABLE [dbo].[tb_ctr_tipo_golden_parent_rk_c] DROP CONSTRAINT [FK__tb_ctr_ti__id_ti__01D345B0]
GO
ALTER TABLE [dbo].[tb_ctr_tipo_golden_parent_rk_c] DROP CONSTRAINT [FK__tb_ctr_ti__id_ti__00DF2177]
GO
ALTER TABLE [dbo].[tb_ctr_tipo_bo_rk_c] DROP CONSTRAINT [FK__tb_ctr_ti__id_ti__76619304]
GO
ALTER TABLE [dbo].[tb_ctr_port_group_rk_w] DROP CONSTRAINT [FK__tb_ctr_po__id_ti__04AFB25B]
GO
/****** Object:  Table [dbo].[tb_ctr_valor_plantilla_rk_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_valor_plantilla_rk_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_valor_plantilla_rk_c]
GO
/****** Object:  Table [dbo].[tb_ctr_usuario_w]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_usuario_w]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_usuario_w]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_valor_rk_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_tipo_valor_rk_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_tipo_valor_rk_c]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_template_rk_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_tipo_template_rk_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_tipo_template_rk_c]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_port_group_rk_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_tipo_port_group_rk_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_tipo_port_group_rk_c]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_group_rk_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_tipo_group_rk_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_tipo_group_rk_c]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_golden_parent_rk_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_tipo_golden_parent_rk_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_tipo_golden_parent_rk_c]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_fondo_rk_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_tipo_fondo_rk_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_tipo_fondo_rk_c]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_custodio_rk_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_tipo_custodio_rk_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_tipo_custodio_rk_c]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_contrato_rk_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_tipo_contrato_rk_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_tipo_contrato_rk_c]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_cliente_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_tipo_cliente_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_tipo_cliente_c]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_bo_rk_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_tipo_bo_rk_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_tipo_bo_rk_c]
GO
/****** Object:  Table [dbo].[tb_ctr_sistema_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_sistema_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_sistema_c]
GO
/****** Object:  Table [dbo].[tb_ctr_rol_usuario_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_rol_usuario_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_rol_usuario_c]
GO
/****** Object:  Table [dbo].[tb_ctr_portafolio_activo_samoa_w]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_portafolio_activo_samoa_w]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_portafolio_activo_samoa_w]
GO
/****** Object:  Table [dbo].[tb_ctr_port_group_rk_w]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_port_group_rk_w]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_port_group_rk_w]
GO
/****** Object:  Table [dbo].[tb_ctr_plantilla_email_w]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_plantilla_email_w]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_plantilla_email_w]
GO
/****** Object:  Table [dbo].[tb_ctr_log_w]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_log_w]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_log_w]
GO
/****** Object:  Table [dbo].[tb_ctr_log_email_w]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_log_email_w]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_log_email_w]
GO
/****** Object:  Table [dbo].[tb_ctr_fuentes_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_fuentes_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_fuentes_c]
GO
/****** Object:  Table [dbo].[tb_ctr_email_usuarios_w]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_email_usuarios_w]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_email_usuarios_w]
GO
/****** Object:  Table [dbo].[tb_ctr_contratos_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_contratos_c]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_contratos_c]
GO
/****** Object:  Table [dbo].[tb_ctr_configuracion_sistema_w]    Script Date: 06/06/2024 10:07:34 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ctr_configuracion_sistema_w]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ctr_configuracion_sistema_w]
GO
/****** Object:  Table [dbo].[tb_ctr_configuracion_sistema_w]    Script Date: 06/06/2024 10:07:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_configuracion_sistema_w](
	[id_confg] [int] NULL,
	[configuracion] [varchar](150) NULL,
	[varlo] [varchar](max) NULL,
	[estatus] [bit] NULL,
	[id_sistema] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_contratos_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_contratos_c](
	[id_contratos] [int] NOT NULL,
	[id_tipo_cliente] [int] NULL,
	[cliente] [varchar](max) NULL,
	[contrato] [varchar](max) NOT NULL,
	[nombre_cliente] [varchar](max) NULL,
	[id_fuente] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_email_usuarios_w]    Script Date: 06/06/2024 10:07:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_email_usuarios_w](
	[id_email] [int] NULL,
	[nombre_usuario] [varchar](250) NULL,
	[email_usuario] [varchar](300) NULL,
	[id_sistema] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_fuentes_c]    Script Date: 06/06/2024 10:07:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_fuentes_c](
	[id_fuente] [int] NULL,
	[nombre_fuente] [varchar](150) NULL,
	[estatus] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_log_email_w]    Script Date: 06/06/2024 10:07:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_log_email_w](
	[id_log_email] [int] NULL,
	[id_plantilla] [int] NOT NULL,
	[id_sistema] [int] NULL,
	[id_usuario] [int] NULL,
	[fecha] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_log_w]    Script Date: 06/06/2024 10:07:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_log_w](
	[id_log] [int] NULL,
	[id_usuario] [int] NULL,
	[titulo] [varchar](250) NULL,
	[mensaje] [varchar](max) NULL,
	[nombre_equipo] [varchar](150) NULL,
	[fecha] [varchar](30) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_plantilla_email_w]    Script Date: 06/06/2024 10:07:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_plantilla_email_w](
	[id_plantilla_email] [int] NULL,
	[id_sistema] [int] NULL,
	[nombre_plantilla] [varchar](50) NULL,
	[para] [varchar](max) NULL,
	[copia] [varchar](max) NULL,
	[asunto] [varchar](500) NULL,
	[mensaje] [varchar](max) NULL,
	[archivoAdjunto] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_port_group_rk_w]    Script Date: 06/06/2024 10:07:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_port_group_rk_w](
	[id_port_group] [int] NOT NULL,
	[id_tipo_port] [int] NOT NULL,
	[id_tipo_bo] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_port_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_portafolio_activo_samoa_w]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_portafolio_activo_samoa_w](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bo_code] [nvarchar](50) NOT NULL,
	[contrato] [nvarchar](50) NOT NULL,
	[denominacion] [nvarchar](255) NOT NULL,
	[moneda] [nvarchar](10) NOT NULL,
	[numero_contrato] [nvarchar](50) NOT NULL,
	[denominacion_contrato] [nvarchar](255) NOT NULL,
	[fecha_contrato] [nvarchar](10) NOT NULL,
	[tipo_port] [nvarchar](255) NOT NULL,
	[tipo_custodio] [nvarchar](255) NOT NULL,
	[tipo_fondo] [nvarchar](255) NULL,
	[tipo_bo_code] [nvarchar](50) NULL,
	[contrato_externo] [nvarchar](50) NULL,
	[tipo_contrato] [nvarchar](50) NOT NULL,
	[tipo_golden_parent] [nvarchar](255) NOT NULL,
	[external_address] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_rol_usuario_c]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_rol_usuario_c](
	[id_rol] [int] NULL,
	[nombre_rol] [varchar](150) NULL,
	[estatus] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_sistema_c]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_sistema_c](
	[id_sistema] [int] NULL,
	[nombre_sistema] [varchar](50) NULL,
	[activo] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_bo_rk_c]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_tipo_bo_rk_c](
	[id_tipo_bo] [int] NOT NULL,
	[nombre_bo] [nvarchar](100) NOT NULL,
	[id_tipo_contrato] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_bo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_cliente_c]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_tipo_cliente_c](
	[id_tipo_cliente] [int] NULL,
	[nombre_tipo] [varchar](200) NULL,
	[estatus] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_contrato_rk_c]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_tipo_contrato_rk_c](
	[id_tipo_contrato] [int] NOT NULL,
	[nombre_contrato] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_custodio_rk_c]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_tipo_custodio_rk_c](
	[id_tipo_custodio] [int] NOT NULL,
	[nombre_custodio] [nvarchar](100) NOT NULL,
	[id_tipo_valor] [int] NOT NULL,
	[id_contrato] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_custodio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_fondo_rk_c]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_tipo_fondo_rk_c](
	[id_tipo_fondo] [int] NOT NULL,
	[nombre_fondo] [nvarchar](100) NOT NULL,
	[id_tipo_contrato] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_fondo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_golden_parent_rk_c]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_tipo_golden_parent_rk_c](
	[id_tipo_golden_parent] [int] NOT NULL,
	[nombre_golden_parent] [nvarchar](100) NOT NULL,
	[id_tipo_bo] [int] NOT NULL,
	[id_tipo_contrato] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_golden_parent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_group_rk_c]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_tipo_group_rk_c](
	[id_tipo_gruop] [int] NULL,
	[nombre_group] [varchar](50) NULL,
	[activo] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_port_group_rk_c]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_tipo_port_group_rk_c](
	[id_tipo_port] [int] NOT NULL,
	[nombre_port] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_port] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_template_rk_c]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_tipo_template_rk_c](
	[id_tipo_template] [int] NOT NULL,
	[nombre_template] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_template] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_tipo_valor_rk_c]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_tipo_valor_rk_c](
	[id_tipo_valot] [int] NULL,
	[nombre_valor] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_usuario_w]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_usuario_w](
	[id_usuario] [int] NULL,
	[id_rol_usuario] [int] NULL,
	[nombre_usuario] [varchar](250) NULL,
	[estatus] [bit] NULL,
	[id_sistema] [int] NOT NULL,
	[emial] [varchar](200) NOT NULL,
	[activo] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ctr_valor_plantilla_rk_c]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ctr_valor_plantilla_rk_c](
	[id_valor_plantilla] [int] NULL,
	[nombre_plantilla] [varchar](max) NULL,
	[id_tipo_valor] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[tb_ctr_configuracion_sistema_w] ([id_confg], [configuracion], [varlo], [estatus], [id_sistema]) VALUES (1, N'Plantilla_Draft', N'C:/Temp_File/Contratos/Plantilla/Ejemplo_Plantilla', 1, 1)
INSERT [dbo].[tb_ctr_configuracion_sistema_w] ([id_confg], [configuracion], [varlo], [estatus], [id_sistema]) VALUES (2, N'Draft_Creado', N'C:/Temp_File/Contratos/Generado', 1, 1)
INSERT [dbo].[tb_ctr_configuracion_sistema_w] ([id_confg], [configuracion], [varlo], [estatus], [id_sistema]) VALUES (3, N'Email_To', N'test_sam1230@outlook.com', 1, 1)
GO
INSERT [dbo].[tb_ctr_contratos_c] ([id_contratos], [id_tipo_cliente], [cliente], [contrato], [nombre_cliente], [id_fuente]) VALUES (1, 1, N'BECAS', N'1024556', N'MEXICANA DE BECAS', 1)
INSERT [dbo].[tb_ctr_contratos_c] ([id_contratos], [id_tipo_cliente], [cliente], [contrato], [nombre_cliente], [id_fuente]) VALUES (2, 2, N'114', N'1005849', N'UADY CAJA AHORRO/BCO.SANTANDER MEXICO S.A FID.2001672-1', 1)
INSERT [dbo].[tb_ctr_contratos_c] ([id_contratos], [id_tipo_cliente], [cliente], [contrato], [nombre_cliente], [id_fuente]) VALUES (3, 2, N'RADIOPOLIS CA', N'1036723', N'RADIOPOLIS CA - RADIOPOLIS CAJA DE AHORRO', 1)
GO
INSERT [dbo].[tb_ctr_fuentes_c] ([id_fuente], [nombre_fuente], [estatus]) VALUES (1, N'FRONT NORMAL', 1)
INSERT [dbo].[tb_ctr_fuentes_c] ([id_fuente], [nombre_fuente], [estatus]) VALUES (2, N'FRONT VIVES', 1)
INSERT [dbo].[tb_ctr_fuentes_c] ([id_fuente], [nombre_fuente], [estatus]) VALUES (3, N'FRONT EDC', 1)
GO
INSERT [dbo].[tb_ctr_plantilla_email_w] ([id_plantilla_email], [id_sistema], [nombre_plantilla], [para], [copia], [asunto], [mensaje], [archivoAdjunto]) VALUES (1, 1, N'', N'carlosalberto.barreralugo1230@hotmail.com, cbarreralugo@gmail.com', N'', N'correo de prueba', N'Correo de prueba con el envio de mas de un usuario.', N'')
GO
INSERT [dbo].[tb_ctr_port_group_rk_w] ([id_port_group], [id_tipo_port], [id_tipo_bo], [activo]) VALUES (1, 1, 3, 1)
INSERT [dbo].[tb_ctr_port_group_rk_w] ([id_port_group], [id_tipo_port], [id_tipo_bo], [activo]) VALUES (2, 1, 3, 1)
INSERT [dbo].[tb_ctr_port_group_rk_w] ([id_port_group], [id_tipo_port], [id_tipo_bo], [activo]) VALUES (3, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[tb_ctr_portafolio_activo_samoa_w] ON 

INSERT [dbo].[tb_ctr_portafolio_activo_samoa_w] ([id], [bo_code], [contrato], [denominacion], [moneda], [numero_contrato], [denominacion_contrato], [fecha_contrato], [tipo_port], [tipo_custodio], [tipo_fondo], [tipo_bo_code], [contrato_externo], [tipo_contrato], [tipo_golden_parent], [external_address]) VALUES (1, N'SCBMX', N'56', N'654', N'MXN', N'56', N'654', N'Jun  3 202', N'Custodio|Custodio|Custodio|Custodio|Banco', N'RK_Negocio.Modelo.CB', N'', N'SCBMX', N'', N'Mandatos', N'MX-B2', N'456')
INSERT [dbo].[tb_ctr_portafolio_activo_samoa_w] ([id], [bo_code], [contrato], [denominacion], [moneda], [numero_contrato], [denominacion_contrato], [fecha_contrato], [tipo_port], [tipo_custodio], [tipo_fondo], [tipo_bo_code], [contrato_externo], [tipo_contrato], [tipo_golden_parent], [external_address]) VALUES (2, N'SCBMX', N'456', N'654', N'MXN', N'456', N'654', N'Jun  3 202', N'Custodio|Custodio|Custodio|Custodio|Banco', N'RK_Negocio.Modelo.CB', N'', N'SCBMX', N'', N'Mandatos', N'MX-B2', N'456')
SET IDENTITY_INSERT [dbo].[tb_ctr_portafolio_activo_samoa_w] OFF
GO
INSERT [dbo].[tb_ctr_rol_usuario_c] ([id_rol], [nombre_rol], [estatus]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[tb_ctr_rol_usuario_c] ([id_rol], [nombre_rol], [estatus]) VALUES (2, N'Operador', 1)
GO
INSERT [dbo].[tb_ctr_sistema_c] ([id_sistema], [nombre_sistema], [activo]) VALUES (1, N'SAMOA', 1)
INSERT [dbo].[tb_ctr_sistema_c] ([id_sistema], [nombre_sistema], [activo]) VALUES (2, N'RK', 0)
GO
INSERT [dbo].[tb_ctr_tipo_bo_rk_c] ([id_tipo_bo], [nombre_bo], [id_tipo_contrato], [activo]) VALUES (1, N'SCBMX', 1, 1)
INSERT [dbo].[tb_ctr_tipo_bo_rk_c] ([id_tipo_bo], [nombre_bo], [id_tipo_contrato], [activo]) VALUES (2, N'SANMX', 1, 1)
INSERT [dbo].[tb_ctr_tipo_bo_rk_c] ([id_tipo_bo], [nombre_bo], [id_tipo_contrato], [activo]) VALUES (3, N'SAMMX', 2, 1)
GO
INSERT [dbo].[tb_ctr_tipo_cliente_c] ([id_tipo_cliente], [nombre_tipo], [estatus]) VALUES (1, N'BECAS', 1)
INSERT [dbo].[tb_ctr_tipo_cliente_c] ([id_tipo_cliente], [nombre_tipo], [estatus]) VALUES (2, N'CAJA DE AHORRO', 1)
INSERT [dbo].[tb_ctr_tipo_cliente_c] ([id_tipo_cliente], [nombre_tipo], [estatus]) VALUES (3, N'F. AHORRO ', 1)
GO
INSERT [dbo].[tb_ctr_tipo_contrato_rk_c] ([id_tipo_contrato], [nombre_contrato], [activo]) VALUES (1, N'Mandatos', 1)
INSERT [dbo].[tb_ctr_tipo_contrato_rk_c] ([id_tipo_contrato], [nombre_contrato], [activo]) VALUES (2, N'Clientes en directo', 1)
INSERT [dbo].[tb_ctr_tipo_contrato_rk_c] ([id_tipo_contrato], [nombre_contrato], [activo]) VALUES (3, N'Fondos', 1)
GO
INSERT [dbo].[tb_ctr_tipo_custodio_rk_c] ([id_tipo_custodio], [nombre_custodio], [id_tipo_valor], [id_contrato], [activo]) VALUES (1, N'Custodio Banco Santander', 1, 1, 1)
INSERT [dbo].[tb_ctr_tipo_custodio_rk_c] ([id_tipo_custodio], [nombre_custodio], [id_tipo_valor], [id_contrato], [activo]) VALUES (2, N'Cash Banco Santander', 2, 1, 1)
INSERT [dbo].[tb_ctr_tipo_custodio_rk_c] ([id_tipo_custodio], [nombre_custodio], [id_tipo_valor], [id_contrato], [activo]) VALUES (3, N'Custodio CB Santander', 3, 1, 1)
GO
INSERT [dbo].[tb_ctr_tipo_fondo_rk_c] ([id_tipo_fondo], [nombre_fondo], [id_tipo_contrato]) VALUES (1, N'Fondo Deuda', 3)
INSERT [dbo].[tb_ctr_tipo_fondo_rk_c] ([id_tipo_fondo], [nombre_fondo], [id_tipo_contrato]) VALUES (2, N'Fondo Renta Variable', 3)
GO
INSERT [dbo].[tb_ctr_tipo_golden_parent_rk_c] ([id_tipo_golden_parent], [nombre_golden_parent], [id_tipo_bo], [id_tipo_contrato], [activo]) VALUES (1, N'MX-CD', 3, 2, 1)
INSERT [dbo].[tb_ctr_tipo_golden_parent_rk_c] ([id_tipo_golden_parent], [nombre_golden_parent], [id_tipo_bo], [id_tipo_contrato], [activo]) VALUES (2, N'MX-B1', 2, 1, 1)
INSERT [dbo].[tb_ctr_tipo_golden_parent_rk_c] ([id_tipo_golden_parent], [nombre_golden_parent], [id_tipo_bo], [id_tipo_contrato], [activo]) VALUES (3, N'MX-B2', 1, 1, 1)
GO
INSERT [dbo].[tb_ctr_tipo_group_rk_c] ([id_tipo_gruop], [nombre_group], [activo]) VALUES (1, N'GP|INST-AMRS', 1)
INSERT [dbo].[tb_ctr_tipo_group_rk_c] ([id_tipo_gruop], [nombre_group], [activo]) VALUES (2, N'GP|ISSSTE-RFA', 1)
INSERT [dbo].[tb_ctr_tipo_group_rk_c] ([id_tipo_gruop], [nombre_group], [activo]) VALUES (3, N'GP|ISSSTE-ROC', 1)
GO
INSERT [dbo].[tb_ctr_tipo_port_group_rk_c] ([id_tipo_port], [nombre_port]) VALUES (1, N'GP|INST-AMRS')
INSERT [dbo].[tb_ctr_tipo_port_group_rk_c] ([id_tipo_port], [nombre_port]) VALUES (2, N'GP|MX-FI-DIN')
INSERT [dbo].[tb_ctr_tipo_port_group_rk_c] ([id_tipo_port], [nombre_port]) VALUES (3, N'PORT_GRP|SAM_B1_B')
GO
INSERT [dbo].[tb_ctr_tipo_template_rk_c] ([id_tipo_template], [nombre_template]) VALUES (1, N'Creation')
INSERT [dbo].[tb_ctr_tipo_template_rk_c] ([id_tipo_template], [nombre_template]) VALUES (2, N'Modification')
GO
INSERT [dbo].[tb_ctr_tipo_valor_rk_c] ([id_tipo_valot], [nombre_valor]) VALUES (1, N'Custodio')
INSERT [dbo].[tb_ctr_tipo_valor_rk_c] ([id_tipo_valot], [nombre_valor]) VALUES (2, N'Banco')
GO
INSERT [dbo].[tb_ctr_usuario_w] ([id_usuario], [id_rol_usuario], [nombre_usuario], [estatus], [id_sistema], [emial], [activo]) VALUES (1, 1, N'Carlos Alberto', 1, 1, N'carlosalberto.barreralugo1230@hotmail.com', 1)
INSERT [dbo].[tb_ctr_usuario_w] ([id_usuario], [id_rol_usuario], [nombre_usuario], [estatus], [id_sistema], [emial], [activo]) VALUES (2, 1, N'Veronica Ines', 1, 1, N'veronica.leon@santanderam.com', 1)
INSERT [dbo].[tb_ctr_usuario_w] ([id_usuario], [id_rol_usuario], [nombre_usuario], [estatus], [id_sistema], [emial], [activo]) VALUES (3, 1, N'Kathia Aidee', 1, 1, N'kathia.solis@santanderam.com', 1)
GO
INSERT [dbo].[tb_ctr_valor_plantilla_rk_c] ([id_valor_plantilla], [nombre_plantilla], [id_tipo_valor]) VALUES (1, N'Banco Santander (Mexico) S.A. Institucion de Banca', 1)
INSERT [dbo].[tb_ctr_valor_plantilla_rk_c] ([id_valor_plantilla], [nombre_plantilla], [id_tipo_valor]) VALUES (2, N'Banco Santander (Mexico) S.A. Institucion de Banca', 2)
INSERT [dbo].[tb_ctr_valor_plantilla_rk_c] ([id_valor_plantilla], [nombre_plantilla], [id_tipo_valor]) VALUES (3, N'Casa de olsa Santander, S.A. De C.V.', 1)
GO
ALTER TABLE [dbo].[tb_ctr_port_group_rk_w]  WITH CHECK ADD FOREIGN KEY([id_tipo_bo])
REFERENCES [dbo].[tb_ctr_tipo_bo_rk_c] ([id_tipo_bo])
GO
ALTER TABLE [dbo].[tb_ctr_tipo_bo_rk_c]  WITH CHECK ADD FOREIGN KEY([id_tipo_contrato])
REFERENCES [dbo].[tb_ctr_tipo_contrato_rk_c] ([id_tipo_contrato])
GO
ALTER TABLE [dbo].[tb_ctr_tipo_golden_parent_rk_c]  WITH CHECK ADD FOREIGN KEY([id_tipo_bo])
REFERENCES [dbo].[tb_ctr_tipo_bo_rk_c] ([id_tipo_bo])
GO
ALTER TABLE [dbo].[tb_ctr_tipo_golden_parent_rk_c]  WITH CHECK ADD FOREIGN KEY([id_tipo_contrato])
REFERENCES [dbo].[tb_ctr_tipo_contrato_rk_c] ([id_tipo_contrato])
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_contrato]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_buscar_contrato]
    @numeroContrato NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        bo_code,
        Contrato,
        Denominacion,
        Moneda,
        numero_contrato,
        denominacion_contrato,
        fecha_contrato,
        tipo_port,
        tipo_custodio,
        tipo_fondo,
        tipo_bo_code,
        contrato_externo,
        tipo_contrato,
        tipo_golden_parent,
        external_address
   FROM 
        tb_ctr_portafolio_activo_samoa_w
    WHERE 
        numero_contrato = @numeroContrato;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_actualizar_custodio]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualizar
CREATE PROCEDURE [dbo].[sp_ctr_actualizar_custodio]
    @id_custodio INT,
    @nombre_custodio NVARCHAR(50),
    @activo BIT
AS
BEGIN
    UPDATE tb_ctr_custodio_rk_c
    SET nombre_custodio = @nombre_custodio,
        activo = @activo
    WHERE id_custodio = @id_custodio
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_actualizar_port_group]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualizar
CREATE PROCEDURE [dbo].[sp_ctr_actualizar_port_group]
    @id_port_group INT,
    @id_tipo_port INT,
    @id_tipo_bo INT,
    @activo BIT
AS
BEGIN
    UPDATE tb_ctr_port_group_rk_w
    SET id_tipo_port = @id_tipo_port,
        id_tipo_bo = @id_tipo_bo,
        activo = @activo
    WHERE id_port_group = @id_port_group
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_actualizar_portafolio_activo_samoa]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualizar
CREATE PROCEDURE [dbo].[sp_ctr_actualizar_portafolio_activo_samoa]
    @id INT,
    @bo_code NVARCHAR(50),
    @contrato NVARCHAR(50),
    @denominacion NVARCHAR(255),
    @moneda NVARCHAR(10),
    @numero_contrato NVARCHAR(50),
    @denominacion_contrato NVARCHAR(255),
    @fecha_contrato DATE,
    @tipo_port NVARCHAR(255),
    @tipo_custodio NVARCHAR(255),
    @tipo_fondo NVARCHAR(255),
    @tipo_bo_code NVARCHAR(255),
    @contrato_externo NVARCHAR(50),
    @tipo_contrato NVARCHAR(50),
    @tipo_golden_parent NVARCHAR(255),
    @external_address NVARCHAR(255)
AS
BEGIN
    UPDATE tb_ctr_portafolio_activo_samoa_w
    SET bo_code = @bo_code,
        contrato = @contrato,
        denominacion = @denominacion,
        moneda = @moneda,
        numero_contrato = @numero_contrato,
        denominacion_contrato = @denominacion_contrato,
        fecha_contrato = @fecha_contrato,
        tipo_port = @tipo_port,
        tipo_custodio = @tipo_custodio,
        tipo_fondo = @tipo_fondo,
        tipo_bo_code = @tipo_bo_code,
        contrato_externo = @contrato_externo,
        tipo_contrato = @tipo_contrato,
        tipo_golden_parent = @tipo_golden_parent,
        external_address = @external_address
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_actualizar_tipo_bo]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualizar
CREATE PROCEDURE [dbo].[sp_ctr_actualizar_tipo_bo]
    @id_tipo_bo INT,
    @nombre_bo NVARCHAR(50),
    @id_tipo_contrato INT,
    @activo BIT
AS
BEGIN
    UPDATE tb_ctr_tipo_bo_rk_c
    SET nombre_bo = @nombre_bo,
        id_tipo_contrato = @id_tipo_contrato,
        activo = @activo
    WHERE id_tipo_bo = @id_tipo_bo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_actualizar_tipo_golden_parent]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualizar
CREATE PROCEDURE [dbo].[sp_ctr_actualizar_tipo_golden_parent]
    @id_tipo_golden_parent INT,
    @nombre_golden_parent NVARCHAR(50),
    @activo BIT
AS
BEGIN
    UPDATE tb_ctr_tipo_golden_parent_rk_c
    SET nombre_golden = @nombre_golden_parent,
        activo = @activo
    WHERE id_tipo_golden = @id_tipo_golden_parent
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_actualizar_usuario]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualizar
CREATE PROCEDURE [dbo].[sp_ctr_actualizar_usuario]
    @id_usuario INT,
    @nombre_usuario NVARCHAR(50),
    @email NVARCHAR(100),
    @password NVARCHAR(255),
    @rol NVARCHAR(50),
    @activo BIT
AS
BEGIN
    UPDATE tb_ctr_usuarios_w
    SET nombre_usuario = @nombre_usuario,
        email = @email,
        password = @password,
        rol = @rol,
        activo = @activo
    WHERE id_usuario = @id_usuario
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_bo_detalle]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ctr_bo_detalle]
    @id_tipo_bo INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT nombre_bo, id_tipo_bo AS codigo_bo
    FROM tb_ctr_tipo_bo_rk_c
    WHERE id_tipo_bo = @id_tipo_bo AND activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_combo]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento general para llenar un combo
CREATE PROCEDURE [dbo].[sp_ctr_combo]
    @tipo INT,
    @condicion INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
	--execute sp_ctr_combo 6 1
    IF @tipo = 0
    BEGIN
        SELECT 0 AS 'id', '--' AS 'valor'
    END
    ELSE IF @tipo = 1
    BEGIN
        SELECT id_fuente AS 'id', nombre_fuente AS 'valor' FROM [dbo].[tb_ctr_fuentes_c] WHERE estatus = 1
    END
    ELSE IF @tipo = 2
    BEGIN
        SELECT id_tipo_cliente AS 'id', nombre_tipo AS 'valor' FROM [dbo].[tb_ctr_tipo_cliente_c] WHERE estatus = 1
    END
    ELSE IF @tipo = 3
    BEGIN
        SELECT id_tipo_contrato AS 'id', nombre_contrato AS 'valor' FROM tb_ctr_tipo_contrato_rk_c WHERE activo = 1
    END
    ELSE IF @tipo = 4
    BEGIN
        SELECT id_tipo_bo AS 'id', nombre_bo AS 'valor' FROM tb_ctr_tipo_bo_rk_c WHERE activo = 1 AND id_tipo_contrato = @condicion
    END
    ELSE IF @tipo = 5
    BEGIN
        SELECT id_tipo_fondo AS 'id', nombre_fondo AS 'valor' FROM tb_ctr_tipo_fondo_rk_c WHERE id_tipo_contrato = @condicion
    END
    ELSE IF @tipo = 6
    BEGIN
        SELECT id_tipo_golden_parent AS 'id', nombre_golden_parent AS 'valor' FROM tb_ctr_tipo_golden_parent_rk_c WHERE activo = 1 AND id_tipo_bo = @condicion
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_custodio]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear
CREATE PROCEDURE [dbo].[sp_ctr_crear_custodio]
    @nombre_custodio NVARCHAR(50),
    @activo BIT
AS
BEGIN
    INSERT INTO tb_ctr_custodio_rk_c (nombre_custodio, activo)
    VALUES (@nombre_custodio, @activo)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_obtener_modificar_contratos]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para crear, obtener y modificar contratos
CREATE PROCEDURE [dbo].[sp_ctr_crear_obtener_modificar_contratos]
    @accion CHAR(1), -- 'C' para crear, 'M' para modificar, 'T' para obtener todos, 'O' para obtener uno
    @id_contratos INT = NULL,
    @id_tipo_cliente INT = NULL,
    @cliente VARCHAR(MAX) = NULL,
    @contrato VARCHAR(MAX) = NULL,
    @nombre_cliente VARCHAR(MAX) = NULL,
    @id_fuente INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @accion = 'C'
    BEGIN
        INSERT INTO [dbo].[tb_ctr_contratos_c] (id_tipo_cliente, cliente, contrato, nombre_cliente, id_fuente)
        VALUES (@id_tipo_cliente, @cliente, @contrato, @nombre_cliente, @id_fuente);
    END
    ELSE IF @accion = 'M' AND @id_contratos IS NOT NULL
    BEGIN
        UPDATE [dbo].[tb_ctr_contratos_c]
        SET id_tipo_cliente = @id_tipo_cliente,
            cliente = @cliente,
            contrato = @contrato,
            nombre_cliente = @nombre_cliente,
            id_fuente = @id_fuente
        WHERE id_contratos = @id_contratos;
    END
    ELSE IF @accion = 'T'
    BEGIN
        SELECT * FROM [dbo].[tb_ctr_contratos_c];
    END
    ELSE IF @accion = 'O' AND @id_contratos IS NOT NULL
    BEGIN
        SELECT * FROM [dbo].[tb_ctr_contratos_c] WHERE id_contratos = @id_contratos;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_obtener_modificar_fuentes]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para crear, obtener y modificar fuentes
CREATE PROCEDURE [dbo].[sp_ctr_crear_obtener_modificar_fuentes]
    @accion CHAR(1), -- 'C' para crear, 'M' para modificar, 'T' para obtener todas
    @id_fuente INT = NULL,
    @nombre_fuente VARCHAR(150) = NULL,
    @estatus BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @accion = 'C'
    BEGIN
        INSERT INTO [dbo].[tb_ctr_fuentes_c] (nombre_fuente, estatus)
        VALUES (@nombre_fuente, @estatus);
    END
    ELSE IF @accion = 'M' AND @id_fuente IS NOT NULL
    BEGIN
        UPDATE [dbo].[tb_ctr_fuentes_c]
        SET nombre_fuente = @nombre_fuente,
            estatus = @estatus
        WHERE id_fuente = @id_fuente;
    END
    ELSE IF @accion = 'T'
    BEGIN
        SELECT * FROM [dbo].[tb_ctr_fuentes_c];
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_obtener_modificar_tipoCliente]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para crear, obtener y modificar tipos de cliente
CREATE PROCEDURE [dbo].[sp_ctr_crear_obtener_modificar_tipoCliente]
    @accion CHAR(1), -- 'C' para crear, 'M' para modificar, 'T' para obtener todos
    @id_tipo_cliente INT = NULL,
    @nombre_tipo VARCHAR(200) = NULL,
    @estatus BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @accion = 'C'
    BEGIN
        INSERT INTO [dbo].[tb_ctr_tipo_cliente_c] (nombre_tipo, estatus)
        VALUES (@nombre_tipo, @estatus);
    END
    ELSE IF @accion = 'M' AND @id_tipo_cliente IS NOT NULL
    BEGIN
        UPDATE [dbo].[tb_ctr_tipo_cliente_c]
        SET nombre_tipo = @nombre_tipo,
            estatus = @estatus
        WHERE id_tipo_cliente = @id_tipo_cliente;
    END
    ELSE IF @accion = 'T'
    BEGIN
        SELECT * FROM [dbo].[tb_ctr_tipo_cliente_c];
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_port_group]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear
CREATE PROCEDURE [dbo].[sp_ctr_crear_port_group]
    @id_tipo_port INT,
    @id_tipo_bo INT,
    @activo BIT
AS
BEGIN
    INSERT INTO tb_ctr_port_group_rk_w (id_tipo_port, id_tipo_bo, activo)
    VALUES (@id_tipo_port, @id_tipo_bo, @activo)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_portafolio_activo_samoa]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear
CREATE PROCEDURE [dbo].[sp_ctr_crear_portafolio_activo_samoa]
    @bo_code NVARCHAR(50),
    @contrato NVARCHAR(50),
    @denominacion NVARCHAR(255),
    @moneda NVARCHAR(10),
    @numero_contrato NVARCHAR(50),
    @denominacion_contrato NVARCHAR(255),
    @fecha_contrato DATE,
    @tipo_port NVARCHAR(255),
    @tipo_custodio NVARCHAR(255),
    @tipo_fondo NVARCHAR(255),
    @tipo_bo_code NVARCHAR(255),
    @contrato_externo NVARCHAR(50),
    @tipo_contrato NVARCHAR(50),
    @tipo_golden_parent NVARCHAR(255),
    @external_address NVARCHAR(255)
AS
BEGIN
    INSERT INTO tb_ctr_portafolio_activo_samoa_w
    (bo_code, contrato, denominacion, moneda, numero_contrato, denominacion_contrato, fecha_contrato, tipo_port, tipo_custodio, tipo_fondo, tipo_bo_code, contrato_externo, tipo_contrato, tipo_golden_parent, external_address)
    VALUES
    (@bo_code, @contrato, @denominacion, @moneda, @numero_contrato, @denominacion_contrato, @fecha_contrato, @tipo_port, @tipo_custodio, @tipo_fondo, @tipo_bo_code, @contrato_externo, @tipo_contrato, @tipo_golden_parent, @external_address)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_tipo_bo]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear
CREATE PROCEDURE [dbo].[sp_ctr_crear_tipo_bo]
    @nombre_bo NVARCHAR(50),
    @id_tipo_contrato INT,
    @activo BIT
AS
BEGIN
    INSERT INTO tb_ctr_tipo_bo_rk_c (nombre_bo, id_tipo_contrato, activo)
    VALUES (@nombre_bo, @id_tipo_contrato, @activo)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_tipo_golden_parent]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear
CREATE PROCEDURE [dbo].[sp_ctr_crear_tipo_golden_parent]
    @nombre_golden_parent NVARCHAR(50),
    @activo BIT
AS
BEGIN
    INSERT INTO tb_ctr_tipo_golden_parent_rk_c (nombre_golden, activo)
    VALUES (@nombre_golden_parent, @activo)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_crear_usuario]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear
CREATE PROCEDURE [dbo].[sp_ctr_crear_usuario]
    @nombre NVARCHAR(50),
    @email NVARCHAR(100),
    @id_sistema NVARCHAR(2)
AS
BEGIN
DECLARE @nuevo_id INT;
        SELECT @nuevo_id = ISNULL(MAX(id_usuario), 0) + 1 FROM  .tb_ctr_usuario_w;
        
    INSERT INTO  tb_ctr_usuario_w (id_usuario, id_rol_usuario,nombre_usuario,estatus,id_sistema,emial, activo)
    VALUES (@nuevo_id,1,@nombre,1,@id_sistema,@email,1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_custodio_detalle]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ctr_custodio_detalle]
    @id_tipo_custodio INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT nombre_custodio, id_tipo_custodio AS codigo_custodio
    FROM tb_ctr_tipo_custodio_rk_c
    WHERE id_tipo_custodio = @id_tipo_custodio AND activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_eliminar_custodio]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar
CREATE PROCEDURE [dbo].[sp_ctr_eliminar_custodio]
    @id_custodio INT
AS
BEGIN
    DELETE FROM tb_ctr_custodio_rk_c
    WHERE id_custodio = @id_custodio
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_eliminar_port_group]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar
CREATE PROCEDURE [dbo].[sp_ctr_eliminar_port_group]
    @id_port_group INT
AS
BEGIN
    DELETE FROM tb_ctr_port_group_rk_w
    WHERE id_port_group = @id_port_group
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_eliminar_portafolio_activo_samoa]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar
CREATE PROCEDURE [dbo].[sp_ctr_eliminar_portafolio_activo_samoa]
    @id INT
AS
BEGIN
    DELETE FROM tb_ctr_portafolio_activo_samoa_w
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_eliminar_tipo_bo]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar
CREATE PROCEDURE [dbo].[sp_ctr_eliminar_tipo_bo]
    @id_tipo_bo INT
AS
BEGIN
    DELETE FROM tb_ctr_tipo_bo_rk_c
    WHERE id_tipo_bo = @id_tipo_bo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_eliminar_tipo_golden_parent]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar
CREATE PROCEDURE [dbo].[sp_ctr_eliminar_tipo_golden_parent]
    @id_tipo_golden_parent INT
AS
BEGIN
    DELETE FROM tb_ctr_tipo_golden_parent_rk_c
    WHERE id_tipo_golden = @id_tipo_golden_parent
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_eliminar_usuario]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar
CREATE PROCEDURE [dbo].[sp_ctr_eliminar_usuario]
    @id_usuario INT
AS
BEGIN
    DELETE FROM tb_ctr_usuarios_w
    WHERE id_usuario = @id_usuario
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_configuraciones_sistema]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ctr_obtener_configuraciones_sistema]
AS
BEGIN
    SELECT s.configuracion,
	s.varlo as Valor,
	s.estatus,
	ts.nombre_sistema as Sistema
	FROM tb_ctr_configuracion_sistema_w s
	inner join tb_ctr_sistema_c ts on s.id_sistema=ts.id_sistema

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_custodio]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ctr_obtener_custodio]
AS
BEGIN
    SELECT c.id_tipo_custodio as id,
	c.nombre_custodio as 'Nombre custodio',
	p.nombre_valor as 'Tipo', 
	c.activo as activo,
	tc.nombre_contrato as 'Tipo contrato'
	FROM tb_ctr_tipo_custodio_rk_c c
	inner join tb_ctr_tipo_valor_rk_c p on c.id_tipo_valor=p.id_tipo_valot
	inner join tb_ctr_tipo_contrato_rk_c tc on c.id_contrato= tc.id_tipo_contrato
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_modificar_configuraciones_sistema]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ctr_obtener_modificar_configuraciones_sistema] 
				(
				@accion as char(2), 
				@id_sistema as int=null, 
				@Plantilla_Draf varchar (50) =null,
				@Draft_Creado varchar (50)=null,
				@Email_To varchar (50) =null , 
				@Password_To varchar (50) = NULL,
				@image_status varchar(50) = null
				--@escribir_log INT = NULL,
				--@ruta_log VARCHAR(200) = NULL,
				--@ruta_sesion_temporal varchar(200) =NULL
				)
AS
BEGIN
    SET NOCOUNT ON;
	--execute sp_ctr_obtener_modificar_configuraciones_sistema  'G'
    IF @accion = 'G' -- Obtener la configuración
    BEGIN
        SELECT configuracion, varlo
        FROM dbo.tb_ctr_configuracion_sistema_w
        WHERE id_sistema=@id_sistema and estatus=1
    END
    ELSE IF @accion = 'U' -- Actualizar la configuración
    BEGIN
        -- Actualizamos los registros correspondientes
        IF @Plantilla_Draf IS NOT NULL
        BEGIN
            UPDATE dbo.tb_ctr_configuracion_sistema_w
            SET varlo = @Plantilla_Draf
            WHERE configuracion = 'Plantilla_Draft'
			and id_sistema=@id_sistema and estatus=1
        END

        IF @Draft_Creado IS NOT NULL
        BEGIN
            UPDATE dbo.tb_ctr_configuracion_sistema_w
            SET varlo = @Draft_Creado
            WHERE configuracion = 'Draft_Creado'
			and id_sistema=@id_sistema and estatus=1
        END

        IF @Email_To IS NOT NULL
        BEGIN
            UPDATE dbo.tb_ctr_configuracion_sistema_w
            SET varlo = @Email_To
            WHERE configuracion = 'Email_To'
			and id_sistema=@id_sistema and estatus=1
        END

        IF @Password_To IS NOT NULL
        BEGIN
            UPDATE dbo.tb_ctr_configuracion_sistema_w
            SET varlo = @Password_To
            WHERE configuracion = 'Password_To'
			and id_sistema=@id_sistema and estatus=1
        END

		 IF @image_status IS NOT NULL
        BEGIN
            UPDATE dbo.tb_ctr_configuracion_sistema_w
            SET varlo = @image_status
            WHERE configuracion = 'image_status'
			and id_sistema=@id_sistema and estatus=1
        END

        -- Devolvemos la configuración actualizada
        SELECT configuracion, varlo
        FROM dbo.tb_ctr_configuracion_sistema_w
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_port_group]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener todos
CREATE PROCEDURE [dbo].[sp_ctr_obtener_port_group]
AS
BEGIN
    SELECT 
	pg.id_port_group as id,
	tg.nombre_group as 'Tipo Port Group',
	bo.nombre_bo as 'Tipo de BO',
	pg.activo
	FROM tb_ctr_port_group_rk_w pg
	inner join tb_ctr_tipo_group_rk_c tg on pg.id_tipo_port = tg.id_tipo_gruop
	inner join tb_ctr_tipo_bo_rk_c bo on pg.id_tipo_bo=bo.id_tipo_bo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_portafolio_activo_samoa]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener todos
CREATE PROCEDURE [dbo].[sp_ctr_obtener_portafolio_activo_samoa]
AS
BEGIN
    SELECT * FROM tb_ctr_portafolio_activo_samoa_w
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_sesion]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ctr_obtener_sesion]
    @usuario VARCHAR(50),
    @email VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
	--execute sp_ctr_obtener_sesion 'Carlos Alberto','carlosalberto.barreralugo1230@hotmail.com'
    --select * from tb_ctr_usuario_w
       SELECT 
        id_usuario, 
        id_rol_usuario as id_tipoUser, 
        nombre_usuario as nombre,
		estatus,
		id_sistema,
		emial as email
    FROM tb_ctr_usuario_w
    WHERE nombre_usuario = @usuario AND emial = @email;
END;
 
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_tipo_bo]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener todos
CREATE PROCEDURE [dbo].[sp_ctr_obtener_tipo_bo]
AS
BEGIN
    SELECT bo.nombre_bo as 'Nombre BO',
	tc.nombre_contrato as 'Tipo de Contrato',
	bo.activo
	FROM tb_ctr_tipo_bo_rk_c bo
	inner join tb_ctr_tipo_contrato_rk_c tc on bo.id_tipo_contrato = tc.id_tipo_contrato
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_tipo_golden_parent]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener todos
CREATE PROCEDURE [dbo].[sp_ctr_obtener_tipo_golden_parent]
AS
BEGIN
    SELECT 
	g.nombre_golden_parent as 'Nombre Golden Parent',
	bo.nombre_bo as 'Tipo de BO',
	tc.nombre_contrato as 'Tipo de contrato',
	g.activo
	 FROM tb_ctr_tipo_golden_parent_rk_c g
	inner join tb_ctr_tipo_bo_rk_c bo on g.id_tipo_bo = bo.id_tipo_bo
	inner join tb_ctr_tipo_contrato_rk_c tc on g.id_tipo_contrato=tc.id_tipo_contrato
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_obtener_usuarios]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Obtener todos
CREATE PROCEDURE [dbo].[sp_ctr_obtener_usuarios]
				@id_sistema as int
AS
BEGIN
    if @id_sistema=0
	begin
		SELECT 
			u.id_usuario as id,
			r.nombre_rol as 'Rol del usuario',
			u.nombre_usuario as 'Nombre del usuario',
			u.emial as 'Email del usuario',
			s.nombre_sistema as 'Sistema',
			u.activo 
		FROM tb_ctr_usuario_w u
		inner join tb_ctr_rol_usuario_c r on u.id_rol_usuario= r.id_rol
		inner join tb_ctr_sistema_c s on u.id_sistema = s.id_sistema
	end
	else
	begin
		SELECT 
			u.id_usuario as id,
			r.nombre_rol as 'Rol del usuario',
			u.nombre_usuario as 'Nombre del usuario',
			u.emial as 'Email del usuario',
			s.nombre_sistema as 'Sistema',
			u.activo 
		FROM tb_ctr_usuario_w u
		inner join tb_ctr_rol_usuario_c r on u.id_rol_usuario= r.id_rol
		inner join tb_ctr_sistema_c s on u.id_sistema = s.id_sistema
		WHERE s.id_sistema=@id_sistema
	end
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_ctr_portgroup_custodio]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ctr_portgroup_custodio]
    @id_tipo_contrato INT,
    @id_tipo_bo INT = NULL,
    @id_tipo_fondo INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TipoContrato NVARCHAR(100);
    DECLARE @TipoBO NVARCHAR(100);
    DECLARE @TipoFondo NVARCHAR(100);

    -- Obtener los valores de nombre de contrato, BO y fondo
    SELECT @TipoContrato = nombre_contrato FROM tb_ctr_tipo_contrato_rk_c WHERE id_tipo_contrato = @id_tipo_contrato;
    SELECT @TipoBO = nombre_bo FROM tb_ctr_tipo_bo_rk_c WHERE id_tipo_bo = @id_tipo_bo;
    SELECT @TipoFondo = nombre_fondo FROM tb_ctr_tipo_fondo_rk_c WHERE id_tipo_fondo = @id_tipo_fondo;

    -- Definir las combinaciones y resultados esperados
    IF @TipoContrato = 'Mandatos' AND @TipoBO = 'SCBMX'
    BEGIN
        SELECT 'PortGroup' AS Tipo, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS id, 'GP|ISSSTE-ROC' AS valor
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 1, 'GP|VALFX-UAT'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 2, 'GP|ISSSTE-RFA'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 3, 'PORT_GRP|SAM_B1_5'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 4, 'PORT_GRP|SAM_B1_6'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 5, 'GP|MX-STMM'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 6, 'GP|MX-B2'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 7, 'GP|INST-AMRS'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 8, 'Custodio Banco Santander'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 9, 'Custodio CB Santander'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 10, 'Custodio Banco BBVA'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 11, 'Custodio Banco Citi';
    END
    ELSE IF @TipoContrato = 'Mandatos' AND @TipoBO = 'SANMX'
    BEGIN
        SELECT 'PortGroup' AS Tipo, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS id, 'PORT_GRP|TEST-AMRS' AS valor
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 1, 'GP|MX-RISKP'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 2, 'PORT_GRP|SAM_B1_5'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 3, 'PORT_GRP|SAM_B1_6'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 4, 'GP|MX-STMM'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 5, 'GP|MX-B1'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 6, 'GP|INST-AMRS'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 7, 'Custodio Banco Santander'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 8, 'Custodio CB Santander' 
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 9, 'Custodio Banco BBVA'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 10, 'Custodio Banco Citi';
    END
    ELSE IF @TipoContrato = 'Mandatos' AND @TipoBO = 'CITISAMMX'
    BEGIN
        SELECT 'PortGroup' AS Tipo, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS id, 'PORT_GRP|SAM_B1_5' AS valor
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 1, 'PORT_GRP|SAM_B1_6'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 2, 'GP|MX-ALCAP'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 3, 'GP|MX-MAN-EXT'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 4, 'GP|INST-AMRS'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 5, 'Custodio Banco Santander'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 6, 'Custodio CB Santander'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 7, 'Custodio Banco BBVA'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 8, 'Custodio Banco Citi';
    END
    ELSE IF @TipoContrato = 'Mandatos' AND @TipoBO = 'BBVAMX'
    BEGIN
        SELECT 'PortGroup' AS Tipo, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS id, 'GP|MX-MANDATE' AS valor
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 1, 'GP|MX-STMM'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 2, 'GP|INST-AMRS'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 3, 'Custodio Banco Santander'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 4, 'Custodio CB Santander'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 5, 'Custodio Banco BBVA'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 6, 'Custodio Banco Citi';
    END
    ELSE IF @TipoContrato = 'Mandatos' AND @TipoBO = 'BBAXMM'
    BEGIN
        SELECT 'PortGroup' AS Tipo, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS id, '' AS valor -- No hay port groups para esta combinación
        WHERE 1=0
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 1, 'Custodio Banco Santander'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 2, 'Custodio CB Santander'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 3, 'Custodio Banco BBVA'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 4, 'Custodio Banco Citi';
    END
        ELSE IF @TipoContrato = 'Clientes en directo' AND @TipoBO = 'SAMMX'
    BEGIN
        SELECT 'PortGroup' AS Tipo, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS id, 'PORT_GRP|TEST-AMRS' AS valor
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 1, 'GP|MX-CD'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 2, 'GP|MX-ALCAP'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 3, 'Custodio SAM';
    END
    ELSE IF @TipoContrato = 'Fondos' AND @TipoFondo = 'Fondo Deuda'
    BEGIN
        SELECT 'PortGroup' AS Tipo, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS id, 'PORT_GRP|SAM_B1_6' AS valor
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 1, 'GP|MX-AGG'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 2, 'PORT_GRP|SAM_B1_B'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 3, 'GP|MX-FI-DIN'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 4, 'GP|INST-AMRS'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 5, 'Custodio Banco S3'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 6, 'Custodio Banco Santander';
    END
    ELSE IF @TipoContrato = 'Fondos' AND @TipoFondo = 'Fondo Renta Variable'
    BEGIN
        SELECT 'PortGroup' AS Tipo, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS id, 'PORT_GRP|SAM_B1_6' AS valor
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 1, 'GP|MX-AGG'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 2, 'GP|MX-EQUITY'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 3, 'PORT_GRP|MX-FI-FNDS'
        UNION ALL
        SELECT 'PortGroup', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 4, 'GP|INST-AMRS'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 5, 'Custodio Banco S3'
        UNION ALL
        SELECT 'Custodio', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) + 6, 'Custodio Banco Santander';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_guardar_contrato]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_guardar_contrato]
    @bo_code NVARCHAR(50),
    @contrato NVARCHAR(50),
    @denominacion NVARCHAR(255),
    @moneda NVARCHAR(10),
    @numero_contrato NVARCHAR(50),
    @denominacion_contrato NVARCHAR(255),
    @tipo_port NVARCHAR(255),
    @tipo_custodio NVARCHAR(255),
    @tipo_fondo NVARCHAR(255) = NULL,
    @tipo_bo_code NVARCHAR(50) = NULL,
    @contrato_externo NVARCHAR(50) = NULL,
    @tipo_contrato NVARCHAR(50),
    @tipo_golden_parent NVARCHAR(255),
    @external_address NVARCHAR(255) = NULL -- Default value
AS
BEGIN
    SET NOCOUNT ON;

    -- Usar la fecha actual si no se proporciona una fecha específica
    DECLARE @fecha NVARCHAR(10) = ISNULL(GETDATE(), CONVERT(NVARCHAR(10), GETDATE(), 103));

    -- Verificar si el contrato ya existe
    IF EXISTS (SELECT 1 FROM tb_ctr_portafolio_activo_samoa_w WHERE contrato = @contrato)
    BEGIN
        -- Actualizar el contrato existente
        UPDATE tb_ctr_portafolio_activo_samoa_w
        SET 
            bo_code = @bo_code,
            denominacion = @denominacion,
            moneda = @moneda,
            numero_contrato = @numero_contrato,
            denominacion_contrato = @denominacion_contrato,
            fecha_contrato = @fecha,
            tipo_port = @tipo_port,
            tipo_custodio = @tipo_custodio,
            tipo_fondo = @tipo_fondo,
            tipo_bo_code = @tipo_bo_code,
            contrato_externo = @contrato_externo,
            tipo_contrato = @tipo_contrato,
            tipo_golden_parent = @tipo_golden_parent,
            external_address = @external_address
        WHERE contrato = @contrato;
    END
    ELSE
    BEGIN
        -- Insertar un nuevo contrato
        INSERT INTO tb_ctr_portafolio_activo_samoa_w (
            bo_code, contrato, denominacion, moneda, numero_contrato,
            denominacion_contrato, fecha_contrato, tipo_port, tipo_custodio,
            tipo_fondo, tipo_bo_code, contrato_externo, tipo_contrato, 
            tipo_golden_parent, external_address
        ) VALUES (
            @bo_code, @contrato, @denominacion, @moneda, @numero_contrato,
            @denominacion_contrato, @fecha, @tipo_port, @tipo_custodio,
            @tipo_fondo, @tipo_bo_code, @contrato_externo, @tipo_contrato,
            @tipo_golden_parent, @external_address
        );
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GuardarDatos]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GuardarDatos]
    @tipoContratoId INT,
    @tipoFondoId INT = NULL,
    @tipoBoCodeId INT,
    @goldenParentId INT,
    @portGroups VARCHAR(MAX),
    @custodioId INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO tb_ctr_portafolio_activo_samoa_w (
        tipo_contrato_id, 
        tipo_fondo_id, 
        tipo_bo_code_id, 
        golden_parent_id, 
        port_groups, 
        custodio_id
    )
    VALUES (
        @tipoContratoId, 
        @tipoFondoId, 
        @tipoBoCodeId, 
        @goldenParentId, 
        @portGroups, 
        @custodioId
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_plantilla_email]    Script Date: 06/06/2024 10:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_plantilla_email]
    @accion CHAR(1), -- 'T' para obtener todos, 'O' para obtener uno, 'U' para crear o actualizar 
    @id_sistema INT = NULL,
    @para VARCHAR(MAX) = NULL,
    @copia VARCHAR(MAX) = NULL,
    @asunto VARCHAR(MAX) = NULL,
    @mensaje VARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @accion = 'U'
    BEGIN
        -- Verificar si la plantilla ya existe
        IF EXISTS (SELECT 1 FROM [dbo].[tb_ctr_plantilla_email_w] WHERE id_sistema = @id_sistema)
        BEGIN
            -- Actualizar la plantilla existente
            UPDATE [dbo].[tb_ctr_plantilla_email_w]
            SET para = @para,
                copia = @copia,
                asunto = @asunto,
                mensaje = @mensaje
            WHERE id_sistema = @id_sistema;
        END
        ELSE
        BEGIN
            -- Crear una nueva plantilla
            DECLARE @nuevo_id INT;
            SELECT @nuevo_id = ISNULL(MAX(id_plantilla_email), 0) + 1 FROM [dbo].[tb_ctr_plantilla_email_w];
            
            INSERT INTO [dbo].[tb_ctr_plantilla_email_w] (id_plantilla_email, id_sistema, nombre_plantilla, para, copia, asunto, mensaje, archivoAdjunto)
            VALUES (@nuevo_id, @id_sistema, '', @para, @copia, @asunto, @mensaje, '');
			SELECT * FROM [dbo].[tb_ctr_plantilla_email_w] where id_sistema=@id_sistema;
        END
    END
    ELSE IF @accion = 'T'
    BEGIN
        SELECT * FROM [dbo].[tb_ctr_plantilla_email_w];
    END
    ELSE IF @accion = 'O' AND @id_sistema IS NOT NULL
    BEGIN
        SELECT * FROM [dbo].[tb_ctr_plantilla_email_w] WHERE id_sistema = @id_sistema;
    END
END
GO
